@media screen and (min-width: 1600px) and (max-width: 2919px) {
  .main__menu {
    max-width: 19%;
  }

  .main__photo {
    max-width: 81%;
  }

  .menu__nav {
    margin-top: 80px;
  }

  .service {
    margin-top: 25px;
  }

  .logo__center {
    right: 110px;
  }

  .info {
    width: 680px;
  }

  .info__title {
    font-size: 43px;
  }

  .info__text {
    font-size: 30px;
  }

  .info__backgroundInfo {
    max-width: 680px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 30px;
    left: 26px;
  }
}

@media screen and (min-width: 1439px) and (max-width: 1599px) {
  .main__menu {
    max-width: 20%;
  }

  .main__photo {
    max-width: 80%;
  }

  .menu__nav {
    margin-top: 50px;
  }

  .service {
    margin-top: 25px;
  }

  .info {
    max-width: 680px;
  }

  .info__title {
    font-size: 43px;
  }

  .info__text {
    font-size: 30px;
  }

  .info__backgroundInfo {
    max-width: 680px;
    bottom: 120px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 30px;
    left: 26px;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
  }
}

@media screen and (min-width: 1360px) and (max-width: 1438px) {
  .main__menu {
    max-width: 22%;
    padding-top: 26px;
  }

  .main__photo {
    max-width: 79%;
  }

  .menu__nav {
    margin-top: 40px;
  }

  .menu__text {
    max-width: 250px;
    font-size: 14px;
    margin-top: 30px;
  }

  .nav-catalog {
    font-size: 14px;
    line-height: 3;
  }

  .nav-service {
    font-size: 12px;
    line-height: 2;
  }

  .service {
    margin-top: 30px;
  }

  .contacts {
    padding-top: 0px;
  }

  .contacts__phone {
    font-size: 15px;
  }

  .logo {
    padding-right: 82px;
  }

  .logo__name {
    font-size: 35px;
  }

  .logo__center {
    font-size: 12px;
    right: 97px;
  }

  .logo::before {
    top: 55px;
  }

  .page {
    padding-bottom: 50px;
  }

  .info {
    width: 590px;
  }

  .info__title {
    font-size: 35px;
  }

  .info__text {
    font-size: 25px;
  }

  .info__backgroundInfo {
    max-width: 580px;
    bottom: 68px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 10px;
    left: 26px;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1359px) {
  .main__menu {
    max-width: 22%;
    padding-top: 30px;
  }

  .main__photo {
    max-width: 79%;
  }

  .menu__nav {
    margin-top: 40px;
  }

  .menu__text {
    max-width: 250px;
    font-size: 14px;
    margin-top: 30px;
  }

  .nav-catalog {
    font-size: 14px;
    line-height: 3;
  }

  .nav-service {
    font-size: 12px;
    line-height: 2;
  }

  .service {
    margin-top: 30px;
  }

  .contacts {
    padding-top: 0px;
  }

  .contacts__phone {
    font-size: 15px;
  }

  .logo {
    padding-right: 82px;
  }

  .logo__name {
    font-size: 35px;
  }

  .logo__center {
    font-size: 12px;
    right: 97px;
  }

  .logo::before {
    top: 55px;
  }

  .page {
    padding-bottom: 50px;
  }

  .info {
    max-width: 590px;
  }

  .info__title {
    font-size: 35px;
  }

  .info__text {
    font-size: 25px;
  }

  .info__backgroundInfo {
    max-width: 580px;
    bottom: 68px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 10px;
    left: 26px;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 8px;
    height: 8px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1279px) {
  .main__menu {
    max-width: 22%;
    padding-top: 30px;
  }

  .main__photo {
    max-width: 79%;
  }

  .menu__nav {
    margin-top: 40px;
  }

  .menu__text {
    max-width: 250px;
    font-size: 14px;
    margin-top: 30px;
  }

  .nav-catalog {
    font-size: 14px;
    line-height: 3;
  }

  .nav-service {
    font-size: 12px;
    line-height: 2;
  }

  .service {
    margin-top: 30px;
  }

  .contacts {
    padding-top: 25px;
  }

  .contacts__phone {
    font-size: 15px;
  }

  .logo {
    padding-right: 82px;
  }

  .logo__name {
    font-size: 35px;
  }

  .logo__center {
    font-size: 12px;
    right: 80px;
  }

  .logo::before {
    top: 55px;
  }

  .page {
    padding-bottom: 50px;
  }

  .info {
    max-width: 590px;
  }

  .info__title {
    font-size: 36px;
  }

  .info__text {
    font-size: 26px;
  }

  .info__backgroundInfo {
    max-width: 580px;
    bottom: 68px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 10px;
    left: 26px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
  .main__menu {
    max-width: 22%;
    padding-top: 30px;
  }

  .main__photo {
    max-width: 79%;
  }

  .menu__nav {
    margin-top: 40px;
  }

  .menu__text {
    max-width: 250px;
    font-size: 12px;
    margin-top: 30px;
    padding-left: 20px;
  }

  .nav-catalog {
    font-size: 14px;
    line-height: 3;
    padding-left: 20px;
  }

  .nav-service {
    font-size: 12px;
    line-height: 2;
    padding-left: 20px;
  }

  .service {
    margin-top: 30px;
  }

  .contacts {
    padding-top: 25px;
    padding-left: 20px;
  }

  .contacts__phone {
    font-size: 15px;
  }

  .logo {
    padding-right: 82px;
    padding-left: 20px;
  }

  .logo__name {
    font-size: 30px;
  }

  .logo__center {
    font-size: 10px;
    right: 75px;
  }

  .logo::before {
    top: 48px;
  }

  .page {
    padding-bottom: 50px;
  }

  .info {
    max-width: 590px;
  }

  .info__title {
    font-size: 36px;
  }

  .info__text {
    font-size: 26px;
  }

  .info__backgroundInfo {
    max-width: 580px;
    bottom: 68px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 10px;
    left: 26px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1023px) {
  .main__menu {
    max-width: 22%;
    padding-top: 30px;
  }

  .main__photo {
    max-width: 79%;
    height: 100%;
  }

  .menu__nav {
    margin-top: 40px;
  }

  .menu__text {
    max-width: 250px;
    font-size: 12px;
    margin-top: 30px;
    padding-left: 20px;
  }

  .nav-catalog {
    font-size: 14px;
    line-height: 3;
    padding-left: 20px;
  }

  .nav-service {
    font-size: 12px;
    line-height: 2;
    padding-left: 20px;
  }

  .service {
    margin-top: 30px;
  }

  .contacts {
    padding-top: 25px;
    padding-left: 20px;
  }

  .contacts__phone {
    font-size: 15px;
  }

  .logo {
    padding-right: 82px;
    padding-left: 20px;
  }

  .logo__name {
    font-size: 30px;
  }

  .logo__center {
    font-size: 10px;
    right: 75px;
  }

  .logo::before {
    top: 48px;
  }

  .page {
    padding-bottom: 50px;
  }

  .info {
    max-width: 590px;
  }

  .info__title {
    font-size: 36px;
  }

  .info__text {
    font-size: 26px;
  }

  .info__backgroundInfo {
    max-width: 580px;
    bottom: 68px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 10px;
    left: 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main__menu {
    background: url(../img/backgroundTableMenu.png) no-repeat center/cover;
    max-width: 100%;
    height: 45px;
    padding-left: 20px;
  }

  .main__menu-text {
    font-size: 12px;
  }

  .main__photo {
    max-width: 100%;
    height: 100%;
  }

  .page {
    padding-bottom: 41px;
    padding-left: 10px;
    max-height: 409px;
  }

  .page__one {
    background: url(../img/photoTable.png) no-repeat center center/cover;
  }

  .page__two {
    background: url(../img/photoTable.png) no-repeat center center/cover;
  }

  .page__three {
    background: url(../img/photoTable.png) no-repeat center center/cover;
  }

  .page__four {
    background: url(../img/photoTable.png) no-repeat center center/cover;
  }

  .page__btn {
    margin-left: 0;
  }

  .info {
    max-width: 490px;
    line-height: 30px;
    height: 92px;
    margin-bottom: -5px;
  }

  .info__title {
    font-size: 28px;
  }

  .info__text {
    font-size: 20px;
  }

  .info__backgroundInfo {
    width: 490px !important;
    height: 92px;
    bottom: 73px;
    left: 29px;
  }

  .btn {
    width: 137px;
    height: 29px;
    font-size: 13px;
    margin-left: 19px;
    margin-bottom: 18px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 17px;
    left: 10px;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 6px !important;
    height: 6px !important;
    margin: 5px 3px !important;
  }

  .menu {
    display: none;
  }

  .menu__nav {
    margin-top: 0px;
  }

  .nav-catalog {
    font-size: 13px;
    font-family: "NotoSans";
    text-transform: uppercase;
    color: #6a5346;
    padding-left: 0;
    border: none;
  }

  .hamburger {
    padding: 7px 0px;
  }

  .hamburger-box {
    height: 0px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 25px;
    height: 2px;
    border-radius: 0;
    background: #ffffff;
  }

  .header-mmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url(../img/backgroundTableMenu.png) no-repeat center/cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 0 12px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    position: relative;
  }

  .header-mmenu-logo {
    margin-left: 11px;
    font-size: 28px;
    font-family: "Georgia";
    color: #f4f4f4;
    text-transform: uppercase;
    position: relative;
  }

  .header-mmenu-logo::before {
    content: "";
    width: 1px;
    height: 45px;
    background-color: #686464;
    position: absolute;
    left: -15px;
    top: -7px;
  }

  .header-mmenu-phone {
    position: absolute;
    right: 7px;
    top: 1px;
    border-left: 1px solid #686464;
  }

  .header-mmenu-phone img {
    padding: 13px;
  }

  .header-mmenu.fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  .footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .header-mmenu a {
    display: block;
    width: 40px;
    height: 45px;
  }

  .mm-listitem:after {
    left: 0;
  }

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #ffffff;
  }

  .mm-menu_offcanvas {
    max-width: 248px;
  }

  .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened ~ .mm-slideout {
    -webkit-transform: translate3d(248px, 0, 0);
    transform: translate3d(248px, 0, 0);
  }

  .mm-navbar__title {
    background-color: #dfddd8;
  }

  .mm-navbar__title > span {
    font-size: 14px;
    font-family: "NotoSans";
    color: #4a4a4a;
    text-transform: uppercase;
    text-align: center;
  }

  .mm-listitem__text {
    height: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .mm-listitem {
    position: relative;
  }

  .mm-btn_next:after {
    right: 22px;
  }

  .submenu::before {
    content: "";
    width: 1px;
    height: 45px;
    background-color: #686464;
    position: absolute;
    right: 46px;
    top: -2px;
  }

  .news__count {
    display: none;
    background: none;
  }

  .input-search.is-active {
    display: block;
  }

  .form {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main__menu {
    background: url(../img/backgroundTableMenu.png) no-repeat center/cover;
    max-width: 100%;
    height: 45px;
    padding-left: 20px;
  }

  .main__menu-text {
    font-size: 12px;
  }

  .main__photo {
    max-width: 100%;
    height: 100%;
  }

  .page {
    padding-bottom: 41px;
    padding-left: 10px;
    max-height: 409px;
  }

  .page__one {
    background: url(../img/photoTable.png) no-repeat center center/cover;
  }

  .page__two {
    background: url(../img/photoTable.png) no-repeat center center/cover;
  }

  .page__three {
    background: url(../img/photoTable.png) no-repeat center center/cover;
  }

  .page__four {
    background: url(../img/photoTable.png) no-repeat center center/cover;
  }

  .page__btn {
    margin-left: 0;
  }

  .info {
    max-width: 388px;
    line-height: 33px;
    height: 76px;
    margin-bottom: -5px;
  }

  .info__title {
    font-size: 20px;
  }

  .info__text {
    font-size: 18px;
  }

  .info__backgroundInfo {
    width: 388px !important;
    height: 76px;
    bottom: 73px;
    left: 29px;
  }

  .btn {
    width: 137px;
    height: 29px;
    font-size: 13px;
    margin-left: 19px;
    margin-bottom: 18px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 17px;
    left: 10px;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 6px !important;
    height: 6px !important;
    margin: 5px 3px !important;
  }

  .menu {
    display: none;
  }

  .menu__nav {
    margin-top: 0px;
  }

  .nav-catalog {
    font-size: 13px;
    font-family: "NotoSans";
    text-transform: uppercase;
    color: #6a5346;
    padding-left: 0;
    border: none;
  }

  .hamburger {
    padding: 7px 0px;
  }

  .hamburger-box {
    height: 0px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 25px;
    height: 2px;
    border-radius: 0;
    background: #ffffff;
  }

  .header-mmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url(../img/backgroundTableMenu.png) no-repeat center/cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 0 12px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    position: relative;
  }

  .header-mmenu-logo {
    margin-left: 11px;
    font-size: 28px;
    font-family: "Georgia";
    color: #f4f4f4;
    text-transform: uppercase;
    position: relative;
  }

  .header-mmenu-logo::before {
    content: "";
    width: 1px;
    height: 45px;
    background-color: #686464;
    position: absolute;
    left: -15px;
    top: -7px;
  }

  .header-mmenu-phone {
    position: absolute;
    right: 7px;
    top: 1px;
    border-left: 1px solid #686464;
  }

  .header-mmenu-phone img {
    padding: 13px;
  }

  .header-mmenu.fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  .footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .header-mmenu a {
    display: block;
    width: 40px;
    height: 45px;
  }

  .mm-listitem:after {
    left: 0;
  }

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #ffffff;
  }

  .mm-menu_offcanvas {
    max-width: 248px;
  }

  .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened ~ .mm-slideout {
    -webkit-transform: translate3d(248px, 0, 0);
    transform: translate3d(248px, 0, 0);
  }

  .mm-navbar__title {
    background-color: #dfddd8;
  }

  .mm-navbar__title > span {
    font-size: 14px;
    font-family: "NotoSans";
    color: #4a4a4a;
    text-transform: uppercase;
    text-align: center;
  }

  .mm-listitem__text {
    height: 43px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .mm-listitem {
    position: relative;
  }

  .mm-btn_next:after {
    right: 22px;
  }

  .submenu::before {
    content: "";
    width: 1px;
    height: 45px;
    background-color: #686464;
    position: absolute;
    right: 46px;
    top: -2px;
  }

  .news__count {
    display: none;
    background: none;
  }

  .input-search.is-active {
    display: block;
  }

  .modal__close {
    width: 15px;
    height: 15px;
    margin: 4px;
  }

  .modal__btn {
    bottom: 10px;
    right: 20px;
  }

  .form {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    height: 350px;
  }

  .form__input {
    height: 30px;
  }

  .form__input-message {
    height: 60px;
  }

  .form__title {
    font-size: 20px;
  }

  label {
    font-size: 12px;
  }

  .input-group {
    margin-top: 10px;
  }

  .imagesModal img {
    height: 350px;
  }

  .modal__dialog {
    height: 350px;
    max-width: 600px;
  }

  #modal-user-email-error {
    margin-top: 50px;
    font-size: 10px;
  }

  #modal-user-phone-error {
    margin-top: 50px;
    font-size: 10px;
  }

  #modal-user-message-error {
    margin-top: 85px;
    font-size: 10px;
  }

  .form__input {
    font-size: 12px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main__menu {
    background: url(../img/backgroundTableMenu.png) no-repeat center/cover;
    max-width: 100%;
    height: 45px;
    padding-left: 20px;
  }

  .main__menu-text {
    font-size: 12px;
  }

  .main__photo {
    max-width: 100%;
    height: 100%;
  }

  .page {
    padding-bottom: 20px;
    padding-left: 10px;
    max-height: 237px;
  }

  .page__one {
    background: url(../img/photoTel.png) no-repeat center center/cover;
  }

  .page__two {
    background: url(../img/photoTel.png) no-repeat center center/cover;
  }

  .page__three {
    background: url(../img/photoTel.png) no-repeat center center/cover;
  }

  .page__four {
    background: url(../img/photoTel.png) no-repeat center center/cover;
  }

  .page__btn {
    margin-left: 0;
  }

  .info {
    max-width: 308px;
    line-height: 21px;
    height: 56px;
    margin-bottom: -5px;
    padding: 9px;
  }

  .info__title {
    font-size: 16px;
    letter-spacing: 1.5px;
  }

  .info__text {
    font-size: 14px;
    letter-spacing: 0.3px;
  }

  .info__backgroundInfo {
    width: 308px !important;
    height: 56px;
    bottom: 58px;
    left: 21px;
  }

  .btn {
    width: 113px;
    height: 24px;
    font-size: 11px;
    margin-left: 11px;
    margin-bottom: 18px;
  }

  .owl-theme .owl-nav.disabled + .owl-dots {
    bottom: 9px;
    left: 10px;
  }

  .owl-theme .owl-dots .owl-dot span {
    width: 6px !important;
    height: 6px !important;
    margin: 5px 3px !important;
  }

  .menu {
    display: none;
  }

  .menu__nav {
    margin-top: 0px;
  }

  .nav-catalog {
    font-size: 13px;
    font-family: "NotoSans";
    text-transform: uppercase;
    color: #6a5346;
    padding-left: 0;
    border: none;
  }

  .hamburger {
    padding: 7px 0px;
  }

  .hamburger-box {
    height: 0px;
  }

  .hamburger-inner,
  .hamburger-inner::before,
  .hamburger-inner::after {
    width: 20px;
    height: 2px;
    border-radius: 0;
    background: #ffffff;
  }

  .header-mmenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: url(../img/backgroundTableMenu.png) no-repeat center/cover;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 0 12px;
    position: fixed;
    top: 0px;
    z-index: 1000;
    position: relative;
  }

  .header-mmenu-logo {
    margin-left: -1px;
    font-size: 21px;
    font-family: "Georgia";
    color: #f4f4f4;
    text-transform: uppercase;
    position: relative;
  }

  .header-mmenu-logo::before {
    content: "";
    width: 1px;
    height: 45px;
    background-color: #686464;
    position: absolute;
    left: -10px;
    top: -11px;
  }

  .header-mmenu-phone {
    position: absolute;
    right: -3px;
    top: 0px;
    border-left: 1px solid #686464;
  }

  .header-mmenu-phone img {
    width: 15px;
    height: 15px;
    margin: 15px;
  }

  .header-mmenu.fixed {
    position: fixed;
    top: 0;
    left: 0;
  }

  .footer.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .header-mmenu a {
    display: block;
    width: 40px;
    height: 45px;
  }

  .mm-listitem:after {
    left: 0;
  }

  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: #ffffff;
  }

  .mm-menu_offcanvas {
    max-width: 240px;
  }

  .mm-wrapper_opening .mm-menu_offcanvas.mm-menu_opened ~ .mm-slideout {
    -webkit-transform: translate3d(240px, 0, 0);
    transform: translate3d(240px, 0, 0);
  }

  .mm-navbar__title {
    background-color: #dfddd8;
    height: 37px !important;
  }

  .mm-navbar__title > span {
    font-size: 14px;
    font-family: "NotoSans";
    color: #4a4a4a;
    text-transform: uppercase;
    text-align: center;
  }

  .mm-listitem__text {
    height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 9px;
  }

  .mm-listitem {
    position: relative;
  }

  .mm-btn_next:after {
    right: 22px;
  }

  .submenu::before {
    content: "";
    width: 1px;
    height: 36px;
    background-color: #686464;
    position: absolute;
    right: 40px;
    top: -2px;
  }

  .news__count {
    display: none;
    background: none;
  }

  .modal__close {
    width: 10px;
    height: 10px;
    margin: 6px;
  }

  .modal__dialog {
    height: 230px;
    min-width: 280px;
  }

  .modal__btn {
    bottom: -10px;
    right: 20px;
    width: 90px;
    height: 20px;
    font-size: 10px;
  }

  .form {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    height: 230px;
  }

  .form__input-message {
    height: 60px;
  }

  .form__title {
    font-size: 11px;
  }

  .form__input {
    font-size: 10px;
  }

  label {
    font-size: 10px;
  }

  .input {
    height: 20px;
  }

  .input-group {
    margin-top: 10px;
  }

  .imagesModal img {
    height: 230px;
  }

  #modal-user-email-error {
    margin-top: 40px;
    font-size: 9px;
  }

  #modal-user-phone-error {
    margin-top: 40px;
    font-size: 9px;
  }

  #modal-user-message-error {
    margin-top: 40px;
    font-size: 9px;
  }
}